@charset "UTF-8";

// 全ページ共通
html {
  font-size: 62.5%; // フォントサイズ：1rem=10px
  width: 100%;
  height: 100%;
  min-height: 100vh;
  scroll-behavior: smooth;
  body {
    padding-top: 145px; // ヘッダー固定分
    font-size: 1.6rem;
    font-family: var(--fontEn);
    margin: 0 auto;
    color: var(--cMain);
    background-color: whitesmoke;
    @media screen and (max-width: 767px) {
      padding-top: 100px;
    }
    #wrapper {
      flex: 1;
      width: min((100% - 40px), 1240px);
      margin: 80px auto;
      @media screen and (max-width: 767px) {
        margin: 60px auto;
      }
    }
  }
}

// Next.js body
#__next {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 145px);
  @media screen and (max-width: 767px) {
    min-height: calc(100vh - 105px);
  }
}

// variables
:root {
  // colors
  --cMain: #333;
  --cSub: rgb(5, 136, 136);
  --cBorder: #686464;
  --cFooter: rgb(5, 136, 136);
  --cPagination: rgb(5, 136, 136);
  --cLink: #0645ad;

  // fonts
  --fontMain: 'Noto Sans JP', 'Yu Gothic', YuGothic, '游ゴシック体',
    'ヒラギノ角ゴ Pro', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo,
    'MS Pゴシック', 'MS PGothic', sans-serif;
  --fontEn: 'Capriola', 'Noto Sans JP', 'Yu Gothic', YuGothic, '游ゴシック体',
    'ヒラギノ角ゴ Pro', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo,
    'MS Pゴシック', 'MS PGothic', sans-serif;
}
